<h1>Control the enssi bot</h1>
<hr />

<div class="row">
  <div class="col-md-8">
    <h3>
      Current Controller is {{socket.currentUser.name}} and next controller is {{socket.nextUser.name}}<br />
      <small>
        {{#if socket.isCurrentUser}}
          You are controlling the enssi bot!
        {{else}}
          You are in queue.
        {{/if}}
        {{#if socket.isNextUser}}
          You are the next user in queue!
        {{/if}}
      </small>
    </h3>

    {{#if socket.isCurrentUser}}
      {{render "controls"}}
    {{/if}}
  </div>
  <div class="col-md-4">
    <h3>Connected Users</h3>
    <hr />
    <ul>
      {{#each user in socket.users}}
        <li>{{user}}</li>
      {{else}}
        No users!
      {{/each}}
    </ul>
  </div>
</div>

<hr />
<h4><i class="fa fa-bullhorn"></i> Messages <span class="label label-danger">{{count-array socket.messages}}</span></h4>
<ul class="messages scroll-box">
  {{#each msg in socket.messages}}
    <li>
      <strong>{{title-case msg.type}}Event :: </strong>
      {{msg.text}} @ {{time-ago msg.time}}<br />
    </li>
  {{/each}}
</ul>
<hr />
